

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .slide {
        height: 40rem !important;
        background-position: center;
        
    
        .content {
            padding: 2rem;

            .title {
                font-size: 3rem;
            }
            .description {
                max-width: 50rem;
            }
        }
    }

    .arrows {
        font-size: 3rem;
    }
}

