$primary: #222831;
$secondary: #393E46;
$tertiary: #00ADB5;
$quaternary: #EEEEEE;


$font-light: white;
$font-dark: black;
 


$header-border: 2px;
$header-height: 7rem;
$content-height: calc(100vh - $header-height - $header-border);